#pent {

}


font-face {
    font-family: 'playfair_display_scregular';
    src: url('fonts/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('playfairdisplaysc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}



body{
    background-color: pink;
}


h1 {
    font-family: 'playfair_display_scregular';
    color: black;
    text-align: center;
}

h2 {
    font-family: 'playfair_display_scregular';
    color: black;
    font-size: 12px;
    text-align: center;
}
P {
    font-family:'playfair_display_scregular';
    color: black;
}

#bodycopy {
    padding: 5px;
    border: 1px black solid;
    margin: 10px;
}

head {
    font-size: 36px;
    position: absolute;
}

#float {
    padding: 5px;
    border: 1px black solid;
    margin: 10px;
}

title {
    align-content: space-around;
    position: absolute;
    padding:5px;
    border: 1px black solid;
    margin: 10px;
    font-size: 48px;

}

#logo {
    height: 100px;
    width: 100px;
    align-content: space-around;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 100px

}

#lorem ipsum {
    align-content: center;


}

h3 {
    text-align: center;
}

#img {
    left: 200px;
}

#head {
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
    font-size: 24px;
    box-sizing: content-box;
}
#head:hover {
    transition-property: font-size;
    transition-duration: 1s;
    font-size: 36px;
    box-sizing: content-box;
}
#title {
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
    font-size: 24px;
    box-sizing: content-box;
}
#title:hover {
    transition-property: font-size;
    transition-duration: 1s;
    font-size: 36px;
    box-sizing: content-box;
}
#logo {
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
    box-sizing: content-box;
}
#logo:hover {
    transition-property: all;
    transition-duration: 1s;

}
#lorem ipsum {
    object-position: center;
}
