#pent {

}


font-face {
    font-family: 'playfair_display_scregular';
    src: url('fonts/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('playfairdisplaysc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


}



body{
    background-color: pink;
}


h1 {
    font-family: 'playfair_display_scregular';
    color: black;
    text-align: center;
}

h2 {
    font-family: 'playfair_display_scregular';
    color: black;
    font-size: 12px;
    text-align: center;
}
P {
    font-family:'playfair_display_scregular';
    color: black;
}

#header {
    padding: 5px;

    margin: 30px;
}

#bodycopy {
    padding: 5px;
    border: 1px black solid;
    margin: 10px;
}

head {
    padding: 20px;
    border: 1px black solid;
    margin: 50px;
    font-size: 48px;
}

#float {
    padding: 5px;
    border: 1px black solid;
    margin: 10px;
}

title {
    align-content: space-around;
    position: absolute;
    padding:5px;
    border: 1px black solid;
    margin: 10px;
    font-size: 48px;

}

#logo {
    height: 150px;
    width: 150px;
    align-content: space-around;
    padding: 5px;
    position: absolute;
    top: -6px;
    left: 150px

}

#lorem ipsum {
    align-content: center;


}

h3 {
    text-align: center;
}

#img {
    left: 200px;
}
